<div class="container">
    <div class="row align-items-center">
        <div class="col align-self-center">

            <div class="card mt-5 custom-ml-5" style="width: 40rem;">

                <!-- Alert Popup for failed user creation | Start -->
                <div class="alert alert-danger align-items-center alert-dismissible fade show" role="alert"
                    *ngIf="showErrorAlert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    Unable to create account. Try Again!!
                    <br>
                    <div class="text-muted">{{showErrorAlertMsg}}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- Alert Popup for failed user creation | End -->
                <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert"
                    *ngIf="showSuccessAlert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill" />
                    </svg>
                    <div>
                        User created Successfully !!
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="card-body pt-2">
                    <div class="text-center">
                        <img src="./assets/ishare_logo_transparent.png" class="w-50" alt="iShare app logo">
                    </div>
                    <h3 class="card-title text-center text-secondary">Create Account</h3>
                    <h6 class="card-subtitle text-muted my-1 text-center">Let's Get Started</h6>

                    <form action="#" class="mt-1" [formGroup]="createAccountFormGroup">
                        <div class="row">
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <input type="text" [ngClass]="usernameClassList" id="username"
                                        placeholder="Eg: sureshkumar.a" autofocus autocomplete="new-username"
                                        formControlName="username">
                                    <label for="username">Username</label>
                                    <div class="invalid-tooltip">
                                        Please enter a unique and valid username without space
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <input [type]="passwordType" [ngClass]="passwordClassList"
                                        formControlName="password" id="password" placeholder="password"
                                        autocomplete="new-password">
                                    <label for="password">Password</label>
                                    <div class="form-check font-monospace">
                                        <input class="form-check-input" type="checkbox" value="" id="showPassword"
                                            (click)="tooglePassword()">
                                        <label class="form-check-label" for="showPassword">
                                            Show password
                                        </label>
                                    </div>
                                    <div class="invalid-tooltip">
                                        Please enter a unique and valid Password containing at least one numeric digit,
                                        one uppercase and one lowercase letter
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <input type="email" [ngClass]="emailAddressClassList" id="emailAddress"
                                        formControlName="emailAddress" placeholder="Eg: user@gmail.com">
                                    <label for="emailAddress">Email address</label>
                                    <div class="invalid-tooltip">
                                        Please enter a valid Email address
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <input type="text" [ngClass]="displayNameClassList" id="displayName"
                                        formControlName="displayName" placeholder="Eg: Suresh Kumar">
                                    <label for="displayName">Display Name</label>
                                    <div class="invalid-tooltip">
                                        Please enter a valid name
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h6 class="class-text mb-2 font-monospace">By creating an account, you agree to our <a href="#"
                                class="card-link">Terms of Service</a></h6>
                        <div class="d-grid">
                            <button class="btn btn-success font-monospace fw-bold text-uppercase" type="button"
                                (click)="createAccount()" [disabled]="disableSubmitBtn" *ngIf="!disableSubmitBtn">Create
                                Account</button>

                            <button class="btn btn-success font-monospace fw-bold" type="button"
                                *ngIf="disableSubmitBtn" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Creating User...
                            </button>
                        </div>
                    </form>

                    <hr>
                    <h6 class="class-text mb-2 text-muted">Already a member? <a href="/login" class="card-link">
                            Sign In</a></h6>
                </div>
            </div>

        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>