<div class="cs-full-height cs-bg-dark cs-grid-center">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h1 class="card-title text-center custom-heading-1">404</h1>
            <h2 class="card-title text-center text-muted my-1 font-monospace">Page Not Found</h2>
            <h4 class="card-subtitle text-muted my-4 text-center">The page you're looking for does not
                Exists!</h4>
            <div class="text-center">
                <a href="/" class="btn btn-lg active btn-primary text-center" role="button">Return to Website</a>
            </div>
        </div>
    </div>
</div>