<div class="cs-bg-dark cs-full-height cs-grid-center">
    <div class="card" style="width: 35rem;">
        <div class="card-body">
            <h1 class="card-title text-center custom-heading-1">500</h1>
            <h2 class="card-title text-center text-muted my-1 font-monospace">Internal Server Error</h2>
            <h4 class="card-subtitle text-muted my-4 text-center">The server encountered something unexpected that didn't allow it to complete the request.</h4>
            <div class="text-center">
                <a href="/" class="btn btn-lg active btn-primary text-center" role="button">Return to Website</a>
            </div>
        </div>
    </div>
</div>